<!DOCTYPE html>
<html>

<head>
    <title>{{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>

<body>
    <img src="{{.Static}}char_sheet1.png" alt="Cannot load image" >
    <p id="char_name">Lionheart</p>>
    <p id="class_level">Fighter 1</p>>
    <p id="background">Folk Hero</p>>
    <p id="playerName">Greg</p>>
    <p id="faction">Harpers</p>>
    <p id="race">Human</p>>
    <p id="alignment">Lawful Good</p>>
    <p id="xp">0</p>>
    <p id="dci">12340</p>>
    <p id="strength">15</p>>
    <p id="dexterity">13</p>>
    <p id="constitution">14</p>>
    <p id="intelligence">8</p>>
    <p id="wisdom">12</p>>
    <p id="charisma">10</p>>

</body>

</html>
