<!DOCTYPE html>
<html>

<head>
    <title>{{.CharacterName}}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>

<body>
    <img src="{{.Static}}char_sheet1.png" alt="Cannot load image" >
    <p id="char_name">{{.CharacterName}}</p>>
    <p id="class_level">{{.ClassLevel}}</p>>
    <p id="background">{{.Background}}</p>>
    <p id="playerName">{{.PlayerName}}</p>>
    <p id="faction">{{.Faction}}</p>>
    <p id="race">{{.Race}}</p>>
    <p id="alignment">{{.Alignment}}</p>>
    <p id="xp">{{.XP}}</p>>
    <p id="dci">{{.DCI}}</p>>
    <p id="strength">{{.Strength}}</p>>
    <p id="dexterity">{{.Dexterity}}</p>>
    <p id="constitution">{{.Constitution}}</p>>
    <p id="intelligence">{{.Intelligence}}</p>>
    <p id="wisdom">{{.Wisdom}}</p>>
    <p id="charisma">{{.Charisma}}</p>>

</body>

</html>
